/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit/Outfit-Regular.ttf") format("truetype"),
    url("/fonts/Outfit/Outfit-Medium.ttf") format("truetype"),
    url("/fonts/Outfit/Outfit-SemiBold.ttf") format("truetype"),
    url("/fonts/Outfit/Outfit-Bold.ttf") format("truetype"),
    url("/fonts/Outfit/Outfit-ExtraBold.ttf") format("truetype"),
    url("/fonts/Outfit/Outfit-Black.ttf") format("truetype"),
    url("/fonts/Outfit/Outfit-ExtraLight.ttf") format("truetype"),
    url("/fonts/Outfit/Outfit-Light.ttf") format("truetype"),
    url("/fonts/Outfit/Outfit-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-text: #000000;
  --secondary-text: #3c3c3c;

  /* image base */
  --image-base-hero-1: #9bb1ec;
  --image-base-hero-2: #3a1f0a;
  --image-base-about: #201010;
  --image-base-contact: #183553;
  --image-base-footer: #353a24;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  max-width: 1536px;
  margin: 0 auto;
  font-family: "Outfit", serif, Arial, Helvetica, sans-serif;
}

/* CSS keyframes */
@keyframes popAndExpand {
  0% {
    width: 0px;
    height: 0px;
  }
  20% {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  35% {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  100% {
    width: 10000px;
    height: 10000px;
  }
}

@keyframes textShow {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Example circle */
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.circle-box {
  background: whitesmoke;
  animation: popAndExpand 5s ease-in-out forwards;
  border-radius: 50%;
  position: absolute;
}

.welcomeTxt {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: textShow 7s ease-in-out forwards;
}
/* Shared hover border styles */
.hover-border,
.hover-border-inline {
  position: relative;
  cursor: pointer;
}

/* For block-level elements (hover-border) */
.hover-border {
  display: block;
  width: fit-content;
}

.hover-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: gray; /* Customize the border color */
  transition: width 0.3s ease-in-out;
}

.hover-border:hover::after {
  width: 100%;
}

/* For inline-block elements (hover-border-inline) */
.hover-border-inline {
  display: inline-block;
  width: fit-content;
}

.hover-border-inline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: gray; /* Customize the border color */
  transition: width 0.3s ease-in-out;
}

.hover-border-inline:hover::after {
  width: 100%;
}

/* why? because im making while still learning Next js lol might update later hahahah   */
.active {
  color: black;
  border-bottom: 2px solid red;
}
